{% extends "layouts.html" %}
{% block content2 %}
	 <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">About</a>
              <small class="text-muted">MITCOE/IBM Sketch Artist</small>
            </div>
            <h2><a class="article-title" href="#">Virtual Sketch Artist</a></h2>
            <p class="article-content">{{ text }}</p>
          </div>
        </article>
{% endblock content2 %}